In [1]:
str1=input()
list1=list(str1)
if len(list1)>=3:
  del list1[0]
  del list1[1]
else:
  print("String too short")
list1.reverse()
print(''.join(list1))

python
nohy

In [2]:
a=float(input("Enter the first number"))
b=float(input("Enter the second number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

Enter the first number10
Enter the second number20
30.0
-10.0
200.0
0.5

In [3]:
str1=input("Enter the string containing python")
str2=str1.replace("python","pythons")
print(str2)

Enter the string containing pythonHi python
Hi pythons

In [4]:
x = [23, 'Python', 23.98]
print(x)
types = [type(item) for item in x]
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [5]:
n=int(input("Enter the score"))
if n>=90 and n<=100:
  print("A Grade")
elif n>=80 and n<=89:
  print("B Grade")
elif n>=70 and n<=79:
  print("C Grade")
elif n>=60 and n<=69:
  print("D Grade")
else:
  print("E Grade")

Enter the score99
A Grade

In [7]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Length of IT_companies:", len(IT_companies))
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)
IT_companies.update(['Tesla', 'Intel', 'Adobe'])
print("After adding multiple companies:", IT_companies)
IT_companies.remove('Intel')
print("After removing Intel:", IT_companies)
print("\nDifference between remove and discard:")
print("- remove(): raises KeyError if item not found")
print("- discard(): does nothing if item not found")
print("\nA union B:", A.union(B))
print("A intersection B:", A.intersection(B))

print("Is A subset of B?", A.issubset(B))

print("Are A and B disjoint?", A.isdisjoint(B))
print("A | B:", A | B)
print("B | A:", B | A)


print("Symmetric difference (A ^ B):", A.symmetric_difference(B))

del IT_companies
del A
del B

age_set = set(age)
print("\nOriginal age list length:", len(age))
print("Converted age set length:", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Microsoft', 'Twitter', 'Apple', 'IBM', 'Google', 'Facebook', 'Amazon', 'Oracle'}
After adding multiple companies: {'Intel', 'Amazon', 'Facebook', 'Microsoft', 'IBM', 'Oracle', 'Tesla', 'Adobe', 'Google', 'Twitter', 'Apple'}
After removing Intel: {'Amazon', 'Facebook', 'Microsoft', 'IBM', 'Oracle', 'Tesla', 'Adobe', 'Google', 'Twitter', 'Apple'}

Difference between remove and discard:
- remove(): raises KeyError if item not found
- discard(): does nothing if item not found

A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A | B: {19, 20, 22, 24, 25, 26, 27, 28}
B | A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference (A ^ B): {27, 28}

Original age list length: 8
Converted age set length: 5